* {
  margin: 0;
  padding: 0;
}

body {
  color: black;
  font-family: sans-serif;
}

.container {
  width: 825px;
  margin: 0 auto;
}

.main-content {
  border: 5px solid black;
  position: relative;
  top: 30px;
}

.main-content::before {
  content: "SALE";
  position: absolute;
  top: -18px;
  left: -30px;
  background-color: #ff5f5f;
  color: #fff;
  padding: 5px;
  letter-spacing: 2px;
  font-weight: bold;
}

.colors {
  margin-bottom: 30px;
}

.color {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 10px;
}

.color:last-child {
  margin-right: 0;
}

.color-1 {
  background-color: black;
}

.color-2 {
  background-color: blue;
}

.color-3 {
  background-color: red;
}

.color-4 {
  background-color: orange;
}

.color-5 {
  background-color: green;
}

.color-6 {
  background-color: brown;
}

.shoes-name {
  background-color: #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
}

.price {
  font-size: 24px;
}

.delivery-price {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
  margin-bottom: 20px;
}

.shoes-description {
  margin-bottom: 10px;
}

a:link {
  display: inline-block;
  margin-bottom: 30px;
}

a:hover {
  text-decoration: none;
}

ul {
  margin-left: 20px;
}

li {
  list-style: square;
  margin-bottom: 10px;
}

li:first-child {
  margin-top: 15px;
}

.add-to-cart {
  color: white;
  background-color: black;
  text-transform: uppercase;
  border: 0px;
  cursor: pointer;
  width: 100%;
  padding: 20px;
}

.add-to-cart:hover {
  color: black;
  background-color: white;
  border-top: 5px solid black;
}
